@import url(./mobile.css);
@import url(./global.css);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    a {
        text-decoration: none;
    }
}

@media (min-width: 441px) {
    
    body {
        color: var(--base-text);
        background-color: var(--bg);
        overflow-x: hidden;
        margin: auto;
        max-width: 128rem;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 1.2rem 3.2rem;

        .cart {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            margin-right: 1rem;
            position: relative;

            .notification {
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    position: absolute;
                    top: -0.5rem;
                    right: -0.5rem;
                    background-color: var(--snitap-sun);
                    width: 2rem;
                    height: 2rem;
                    font: 500 1.2rem/1.3 var(--span);

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border-radius: 50%;
                }
            }
        }

        .cart:hover {
            cursor: pointer;
            
            svg {
                transform: rotate(-30deg);
            }
        }

        img {
            transition: transform 500ms;
        }

        img:hover {
            transform: rotate(90deg);
        }
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 4rem 3.2rem;
        gap: 3.2rem;

        .main-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-inline: auto;
            gap: 4.8rem;

            h1 {
                font: var(--h1);
            }

            .info-box {
                display: inline-block;
                overflow: hidden;
                height: 8rem;
                width: min-content;
                vertical-align: bottom;
            }

            span:nth-child(1), span:nth-child(4) {
                color: var(--snitap-sky-mid);
            }

            span:nth-child(2) {
                color: var(--snitap-joy-mid);
            }

            span:nth-child(3) {
                color: var(--snitap-leaf-mid);
            }

            h1 span {
                display: block;
                animation: slideUp 6s 3s infinite ease;
            }

            .buttons {
                display: flex;
                gap: 3.3rem;

                .button-buy {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: var(--snitap-sun);
                    border-radius: 8rem;

                    padding: 2.4rem 4.8rem;
                    gap: 1.2rem;
                    box-shadow: 0px 1.5rem 1.5rem 0px rgba(0, 0, 0, 0.1);

                    transition: 0.35s ease-in-out;

                    p {
                        font: var(--btn-label);
                        text-transform: uppercase;
                    }
                }

                .button-buy:hover {
                    scale: 1.1;
                    transition: 0.35s ease-in-out;
                    box-shadow: 0px 3rem 3rem 0px rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                }

                .button-action {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1.2rem;

                    transition: 0.35s ease-in-out;

                    .play {
                        display: flex;
                        background-color: var(--bg);
                        padding: 2.4rem;
                        box-shadow: 0px 1.5rem 1.5rem 0px rgba(0, 0, 0, 0.1);
                        border-radius: 8rem;   
                        transition: 0.3s ease-in-out; 
                    }

                    p {
                        font: var(--btn-label);
                        text-transform: uppercase;
                    }
                }

                
                .button-action:hover {
                    scale: 1.1;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;

                    .play {
                    box-shadow: 0px 3rem 3rem 0px rgba(0, 0, 0, 0.1);
                    transition: 0.3s ease-in-out;
                    }
                }
            }
        }

        .image-background {
            background: url(../assets/icons/Ellipse.svg) no-repeat;
            position: relative;
            animation: move 2.2s 1.5s forwards;
            height: 48.8rem;

            img:nth-child(2) {
                max-width: 48.8rem;
                height: 100%;
                animation: move 2.2s 1.5s forwards;
            }

            img:nth-child(1) {
                position: absolute;
                top: 25%;
                animation: move 2s 1.5s forwards;
            }

            img:nth-child(3) {
                position: absolute;
                top: 55%;
                right: 0;
                animation: move 2s 1.5s forwards;
            }
        }
    }

    .section-secondary {
        margin-block: 4rem;
        padding-block: 1.6rem;

        overflow: hidden;

        width: 100%;
        animation: marquee-bg 20s linear infinite;

        background: linear-gradient(
            45deg,
            var(--snitap-sky-light),
            var(--snitap-joy-light)
        );

        background-size: 400%;
        background-position: 0 50%;

        .label-animated {
            display: flex;
            align-items: center;
            gap: 2.4rem;
            animation: marquee 2s linear infinite;
        }
    }

    .gallery {
        margin-top: 4rem;
        padding-inline: 3.2rem;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: .8rem;

            p {
                font: var(--span);
                text-transform: uppercase;
            }

            h3 {
                font: var(--h3);
            }
        }

        .gallery-img {
            display: grid;
            grid-template-columns: repeat(1fr, 5);
            grid-template-rows: 1fr 1fr;
            width: 100%;
            padding-block: 3.2rem;
            gap: 3.2rem;
            transition: transform 0.3s ease-in-out;
            transform-origin: center; /* Centraliza o efeito de zoom */

            figure::before {
                content: "";
                width: 100%;
                height: 30%;
                bottom: 0%;
                border-radius: 0rem 0rem 4rem 4rem;
                background: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0.5) 0%,
                    rgba(0, 0, 0, 0.0) 100%
                );
                position: absolute;
                overflow: hidden;
            }

            figure {
                animation: img-appear linear backwards;
                animation-timeline: view();
                animation-range: 100px 350px;
            }
            
            figure:nth-child(1) {
                grid-column: 1/2;
                grid-row: 1/2;
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 40rem;
                    object-fit: cover;
                    border-radius: 4rem;
                }

                figcaption {
                    display: flex;
                    align-items: flex-end;

                    gap: .8rem;
                    padding: 2.4rem 3.2rem;

                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translateY(200%);

                    img {
                        width: 3.2rem;
                        height: 3.2rem;
                    }

                    span {
                        color: white;
                        font: var(--span);
                    }
                }
            }

            figure:hover {
                figcaption, figure::before {
                    animation: subUp .5s ease forwards;
                }
            }

            figure:not(:hover) {
                figcaption, figure::before {
                    animation: subDown .5s ease forwards;
                }
            }

            figure:nth-child(2) {
                grid-column: 2/6;
                grid-row: 1/2;
                position: relative;
                overflow: hidden;
                animation-range: 150px 350px;

                img {
                    width: 100%;
                    height: 40rem;
                    object-fit: cover;
                    border-radius: 4rem;
                }

                figcaption {
                    display: flex;
                    align-items: flex-end;

                    gap: .8rem;
                    padding: 2.4rem 3.2rem;

                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translateY(200%);

                    img {
                        width: 3.2rem;
                        height: 3.2rem;
                    }

                    span {
                        color: white;
                        font: var(--span);
                    }
                }
            }

            figure:nth-child(3) {
                grid-column: 1/4;
                grid-row: 2/3;
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 40rem;
                    object-fit: cover;
                    border-radius: 4rem;
                }

                figcaption {
                    display: flex;
                    align-items: flex-end;

                    gap: .8rem;
                    padding: 2.4rem 3.2rem;

                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translateY(200%);

                    img {
                        width: 3.2rem;
                        height: 3.2rem;
                    }

                    span {
                        color: white;
                        font: var(--span);
                    }
                }
            }

            figure:nth-child(4) {
                grid-column: 4/6;
                grid-row: 2/2;
                position: relative;
                overflow: hidden;
                animation-range: 150px 350px;

                img {
                    width: 100%;
                    height: 40rem;
                    object-fit: cover;
                    border-radius: 4rem;
                }

                figcaption {
                    display: flex;
                    align-items: flex-end;

                    gap: .8rem;
                    padding: 2.4rem 3.2rem;

                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translateY(100%);

                    img {
                        width: 3.2rem;
                        height: 3.2rem;
                    }

                    span {
                        color: white;
                        font: var(--span);
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 6.4rem 3.2rem 3.2rem 3.2rem;

        .logo {
            display: flex;
            align-items: center;
            gap: 1.2rem;

            p {
                font: var(--h4);
            }
        }
        
        .logo img:hover {
            transition: .3s ease;
            transform: rotate(90deg);
        }

        .logo p:hover {
            color: var(--snitap-sun);
            cursor: pointer;
        }

        .menu {
           display: flex;
           align-items: center;
           gap: 3.2rem;
           font: var(--btn-label);

           a::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: transparent;
            transition: transform 200ms linear;
            transform: scaleX(0);
            opacity: 0;
           }

           a:hover::after {
                background-color: var(--snitap-sky-mid);
                transform: scaleX(1);
                opacity: 1;
            }
        }

        .social {
            display: flex;
            align-items: center;
            gap: 1.6rem;
            
            a {
                background-color: transparent;
                padding: 0.4rem;
                border-radius: 50%;
            }

            a:hover {
                background-color: var(--snitap-sun);
                animation: 0.5s ease-in;
            }
        }
    }
}

@keyframes slideUp {
    0%, 22% {
        transform: translateY(0);
    }

    23% {
        transform: translateY(calc(-8rem - 2.4rem));
    }

    25% {
        transform: translateY(calc(-8rem + 1.6rem));
    }

    27% {
        transform: translateY(calc(-8rem - .8rem));
    }

    29% {
        transform: translateY(calc(-8rem + .8rem));
    }

    33%, 55% {
        transform: translateY(-8rem);
    }

    56% {
        transform: translateY(calc(-16rem - 2.4rem));
    }

    58% {
        transform: translateY(calc(-16rem + 1.6rem));
    }

    60% {
        transform: translateY(calc(-16rem - .8rem));
    }

    62% {
        transform: translateY(calc(-16rem + .8rem));
    }

    66%, 88% {
        transform: translateY(-16rem);
    }

    90% {
        transform: translateY(calc(-24rem - 2.4rem));
    }

    92% {
        transform: translateY(calc(-24rem + 1.6rem));
    }

    94% {
        transform: translateY(calc(-24rem - .8rem));
    }

    96% {
        transform: translateY(calc(-24rem + .8rem));
    }

    100% {
        transform: translateY(-24rem);
    }
}

@keyframes move {
    0% {
        transform: translateX(200rem);
    }

    70% {
        transform: translateX(-3rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

@keyframes marquee {
    to {
        transform: translateX(-13rem);
    }
}

@keyframes marquee-bg {
    50% {
        background-position: 100% 50%;
    }
}

@keyframes subUp {
    to {
        transform: translateY(0);
    }
}

@keyframes subDown {
    to {
        transform: translateY(200%);
    }
}

@keyframes img-appear {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
}